<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="text-align: center;">
      <ion-col size="2">
        <ion-button expand="full" color="dark" size="large">
          <i class="fas fa-times"></i>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="tertiary" size="large">
          <i class="fas fa-bars"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="medium" size="large">
          <i class="fas fa-chevron-up"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="medium" size="large">
          <i class="fas fa-chevron-down"></i>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="4">
        <ion-button expand="full" color="dark" size="large">
          <i class="fas fa-step-backward"></i>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="dark" size="large">
          <i class="fas fa-step-forward"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          <i class="far fa-copy"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          <i class="fas fa-paste"></i>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="4">
        <ion-button expand="full" color="tertiary" size="large">
          Enter
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          <i class="fas fa-grip-lines"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          <i class="fas fa-long-arrow-alt-right"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          &
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          \\
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="10">
        <ion-button expand="full" color="dark" size="large" (click)="show_mouse = !show_mouse">
          <i class="fas fa-mouse" *ngIf="!show_mouse"></i>
          <i class="fas fa-keyboard" *ngIf="show_mouse"></i>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="success" size="large" *ngIf="!mic_on" (click)="change_mic()">
          <i class="fas fa-microphone"></i>
        </ion-button>
        <ion-button expand="full" color="danger" size="large" *ngIf="mic_on" (click)="change_mic()">
          <i class="fas fa-microphone-slash" ></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!show_mouse">
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          7
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          8
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          9
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="tertiary" size="large">
          -
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          4
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          5
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          6
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="tertiary" size="large">
          +
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          1
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          2
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          3
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="tertiary" size="large">
          *
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="3">
        <ion-button expand="full" color="dark" size="large">
          0
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="tertiary" size="large">
          .
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="tertiary" size="large">
          ,
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="full" color="tertiary" size="large">
          /
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="show_mouse">
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col>
        <div style="width: 100%; height: 200px; background-color:red;"></div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" style="margin-top: -10px;">
      <ion-col size="4">
        <ion-button expand="full" color="tertiary" size="large">
          
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="tertiary" size="large">
          
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="tertiary" size="large">
          
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" color="dark" size="large" (click)="click_lock = !click_lock">
          <i class="fas fa-lock" *ngIf="!click_lock"></i>
          <i class="fas fa-lock-open" *ngIf="click_lock"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
