<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <i class="fas fa-terminal"></i>&nbsp;Comandos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><i class="fas fa-terminal"></i>&nbsp;Comandos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" size="large" color="tertiary" (click)="send_context_menu()"> 
          <i slot="icon-only" class="fab fa-elementor fa-lg"></i>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" size="large" color="success" (click)="save_green()">
          <i slot="icon-only" class="fas fa-save fa-lg"></i>
        </ion-button>
      </ion-col>
      <ion-col size="6"> 
        <ion-button expand="full" size="large" color="warning" (click)="save_yellow()">
          <i slot="icon-only" class="fas fa-save fa-lg"></i>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" size="large" color="dark" (click)="select_left()">
          <i slot="icon-only" class="fas fa-step-backward fa-lg"></i>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" size="large" color="dark" (click)="select_right()">
          <i slot="icon-only" class="fas fa-step-forward fa-lg"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
